@page "/manager/detail"
@model Client.WebAdmin.Pages.Manager.DetailModel


<div class="row d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
        @if (!string.IsNullOrWhiteSpace(Model.Manager.Picture))
        {
            <img src="./ProfilePictures/@Model.Manager.Picture" class="card-img-top" alt="...">
        }
        <div class="card-body">
            <h5 class="card-title">@Model.Manager.FirstName @Model.Manager.LastName</h5>
            <h6 class="card-title"><span class="text-success">Id: </span>@Model.Manager.Id</h6>
            <h6 class="card-title"><span class="text-success">Site Id: </span>@Model.Manager.SiteId</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span>Address: </span>@Model.Manager.Address</li>
            <li class="list-group-item"><span>Phone Number: </span>@Model.Manager.PhoneNumber</li>
            <li class="list-group-item"><span>Email: </span>@Model.Manager.Email</li>
        </ul>
        <div class="card-body row d-flex">
            <div class="mr-1">
                <form method="post" asp-page-handler="Delete">
                    <input type="hidden" name="userId" value="@Model.Manager.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </div>
            <div class="mr-1">
                @if (string.IsNullOrWhiteSpace(Model.Manager.SiteId))
                {
                    <a asp-page="/Site/Index" asp-route-managerId="@Model.Manager.Id" class="btn btn-amber btn-sm">Assign Site</a>
                }
                else
                {
                    <a asp-page="/Apartment/SiteById" asp-route-siteId="@Model.Manager.SiteId" class="btn btn-blue btn-sm">Show Site</a>
                }
            </div>
            <div>
                <a asp-page="/Manager/Index" class="btn btn-warning btn-sm">Back</a>
            </div>
            
           
        </div>
    </div>
</div>